* {
    margin: 0;
    padding: 0;
}

body {
    background: #f7f7f7;
    font-family: Arial;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 3.1rem 0rem 0rem;
}

@media (max-width: 1008px) { /* Diminuir padding parte de baixo*/
    header {
        padding:  1.1rem 0.5rem 2rem;
    }
}

.material-symbols-outlined {
    display: none;
    cursor: pointer;
}

@media (max-width: 1008px) {
    .material-symbols-outlined {
        border-radius: 4px;
        background: #c6c6c6;
        color: #000000;
        cursor: pointer;
        display: block;
        font-size: 40px;
        margin: 0rem 1rem;
    }
}

nav {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 1008px) { 
    nav {
        display: flex;
        align-items: flex-start; 
        gap: 20px;
    }
}

h1 {
    text-align: center;
}

@media (max-width: 1008px) { 
    h1 {
        display: none;
    }
}

#menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 3.1rem 0rem 0rem;  
}

@media (max-width: 1008px) {
    #menu {
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: 10px;
    }

    #menu.hidden {
        display: none !important;
  }

}


li {
    background: #ffffff;
    border-radius: 4px;
    border: 1px solid transparent;
    font-weight: 600;
    list-style: none;
    cursor: pointer;
    width: 100px;
    padding: 1rem 2rem;
    text-align: center;
    text-transform: uppercase;
}

li:hover {
    background: #c6c6c6;
    border: 1px solid #e21;
    transition: 0.3;
}

@media (max-width: 1008px) {
    li {
        padding: 1rem 1rem;
        text-align: start;
    }
}

a {
    color: #000000;
    text-decoration: none;
}

main { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0px;
}

@media (max-width: 1008px) {
    main {
      margin: 0;
      padding: 0px 10px;  
}
}

.container-nimbus {
    display: flex;
    align-items: center;
    background: #fff;
    gap: 10px;
    width: 62.5rem;
}

@media (max-width: 1008px) {
    .container-nimbus {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        width: 500px;
    }
}

.descricao-bike {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

@media (max-width: 1008px) {
    .descricao-bike {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        max-width: 500px;
        height: 373px;
        text-align: center;
    }
}

h3 {
    font-weight: 100;
    font-size: 1.25rem;
    padding: 0px 10px;
}

button {
    background: #e21;
    border-radius: 4px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.25rem;
    width: 10.5rem;
    padding: 20px;
    text-transform:uppercase ;
}

button:hover{
    background: #900;
}

img {
    max-width: 100%;
}

.container-grid-vantagem {
    display: flex;
    place-items: center;
    gap: 10px;
    width: 62.5rem;
}

@media (max-width: 1008px) {
    .container-grid-vantagem {
       display: flex;
       flex-direction: column;
        width: 500px;
    } 
}

@media (max-width: 1008px) {
    .container-texto-vantagens {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        max-width: 500px;
        height: 370px;
    }
}

h4 {
    color: #c6c6c6;
    font-size: 4rem;
    text-align: end;
}

@media (max-width: 1008px) {
    h4 {
        font-size: 2.7em;
        max-width: 500px;
        text-align: center;
    }
}

.container-texto-especificacoes {
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 26px;
    justify-content: center;
    height: 370px;
    padding: 0px 45px;
}

@media (max-width: 1008px) {
    .container-texto-especificacoes {
        height: 370px;
        padding: 0px 15px;
    }
}

span {
    font-weight: 700;
}

.container-motor-eletrico {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.container-motor-eletrico:hover{
    background: #c6c6c6;;
    border-radius: 4px;
    border-left: 4px solid #e21; /* cor da borda ao passar o mouse */
}

.container-texto-velocidade {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px;
}

.container-texto-velocidade:hover {
    background: #c6c6c6;
    border-radius: 4px;
    border-left: 4px solid #e21; /* cor da borda ao passar o mouse */
}

.container-texto-rastreador {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px;
}

.container-texto-rastreador:hover {
    background: #c6c6c6;
    border-radius: 4px;
    border-left: 4px solid #e21; /* cor da borda ao passar o mouse */
}

footer {
    padding: 25px 10px;
    text-align: center;
}
